<div>
	<div class="row" ng-switch="isAuthenticated()">
		<!-- 定义panel面板 -->
		<div class="col-md-9 panel panel-default">
				<!-- 暂时不用 -->
			<!-- <div class="panel-body"> -->
				<!-- 说明：外层的网格包裹后内层网格也是12栅格的 -->
				<!-- 暂时不用加载图片多网络慢   幻灯片 SkitterSlideshow jQuery Plugin -->
				<!-- <div class="col-md-9 col-padding-over-bs" style="padding-top: 15px;">
				      <div class="border_box">
				        <div class="box_skitter box_skitter_normal slide-box-img">
				          <ul>
				            <li ng-repeat="s in slides track by s.id">
					            <a href="#blind" ui-sref="article.detail({id:s.id})">
					            <img
				                    data-ng-src="{{'data:' + s.firstImgContentType + ';base64,' + s.firstImg}}"
				                    class="slide-box-img blind" alt="slide" ng-if="s.firstImg"/>
					            </a>
					            <div class="label_text">
					            	<p>{{s.title}}</p>
					            </div>
				            </li>
				          </ul>
				        </div>
				      </div>
			    </div> -->
			    <!-- 浏览数最多 -->
			    <div class="col-md-12 col-padding-over-bs" style="padding-top: 15px;">
			    	<!-- 第一张图显示大图 -->
			    	<span ng-repeat="s in pageViewFirst track by s.id">
						<a ui-sref="article.detail({id:s.id})" title="{{s.title}}">
							<img 
								data-ng-src="{{'data:' + s.firstImgContentType + ';base64,' + s.firstImg}}"
								alt="{{s.title}}" ng-if="s.firstImg" class="page-view-box-img"/>
						</a>
					</span>
					<!-- 非第一张图显示小图 -->
					<div style="float: right;">
						<div ng-repeat="s in pageViewOther track by s.id">
							<a ui-sref="article.detail({id:s.id})" title="{{s.title}}">
								<img 
									data-ng-src="{{'data:' + s.firstImgContentType + ';base64,' + s.firstImg}}"
									alt="{{s.title}}" ng-if="s.firstImg" class="original-box-img"/>
							</a>
						</div>
					</div>
			    </div>
				<!-- 新技术内容 -->
				<!-- <div class="col-md-4 col-padding-over-bs" style="padding-top: 15px;padding-left: 0px;">
					<div class="" ng-repeat="s in techData track by s.id">
						<a ui-sref="article.detail({id:s.id})" title="{{s.title}}">
							<img 
								data-ng-src="{{'data:' + s.firstImgContentType + ';base64,' + s.firstImg}}"
								alt="ori" ng-if="s.firstImg" class="original-box-img"/>
						</a>
					</div>
				</div> -->
				<!-- <div class="col-md-4 col-padding-over-bs">
					<div class="thumbnail voffset3">
						<img alt="242x200"
							src="http://www.bootcss.com/p/layoutit/img/people.jpg" />
						<div class="caption">
							<h3>冯诺尔曼结构</h3>
							<p>也称普林斯顿结构，是一种将程序指令存储器和数据存储器合并在一起的存储器结构。程序指令存储地址和数据存储地址指向同一个存储器的不同物理位置。</p>
							
						</div>
					</div>
				</div>
				<div class="col-md-4 col-padding-over-bs">
					<div class="thumbnail voffset3">
						<img alt="300x200"
							src="http://www.bootcss.com/p/layoutit/img/people.jpg" />
						<div class="caption">
							<h3>冯诺尔曼结构</h3>
							<p>也称普林斯顿结构，是一种将程序指令存储器和数据存储器合并在一起的存储器结构。程序指令存储地址和数据存储地址指向同一个存储器的不同物理位置。</p>
							
						</div>
					</div>
				</div> -->
				<!-- 最新的内容 -->
				<div class="col-md-12 col-padding-over-bs">
					<hr>
					<div class="media" style="margin-top: 0px;" ng-repeat="s in pageDataDTO track by s.id">
						<!-- 左侧图片部分 -->
						<!-- 去掉 显示在文章前的第一张图 字节数组  图片比较大网络传输慢影响性能 -->
						<!-- <div class="media-left media-middle">
							<a ui-sref="article.detail({id:s.id})" title="{{s.title}}">
							<img 
								data-ng-src="{{'data:' + s.firstImgContentType + ';base64,' + s.firstImg}}"
								alt="info" ng-if="s.firstImg" class="media-object mob-img"/>
							</a>
						</div> -->
						<div class="media-left media-middle">
							<a ui-sref="article.detail({id:s.id})" title="{{s.title}}">
								<!-- img angular 的方式赋值{{}} -->
								<img src="{{s.minImgURL}}" alt="{{s.title}}" ng-if="s.minImgURL" class="media-object mob-img"/>
							</a>
						</div>
						<div class="media-body" style="padding-left: 15px;">
							<!-- 文章标题 -->
							<h4 class="title">
								<a ui-sref="article.detail({id:s.id})">{{s.title}}</a>
							</h4>
							<div class="mob-author">
								<!-- 用户头像 -->
								<div class="author-face">
									<a ui-sref="articleAuthorDetail({uid:s.user.id})" title="{{s.user.nickName}}">
									<img
					                    data-ng-src="{{'data:' + s.user.pictureContentType + ';base64,' + s.user.picture}}"
					                    class="img-circle profile-img-smaller" alt="{{s.user.nickName}}" ng-if="s.user.picture"/>
									</a>
								</div>
								<!-- 用户昵称 -->
								<a ui-sref="articleAuthorDetail({uid:s.user.id})">
									<span class="mob-author-name">
										{{s.user.nickName}}
									</span>
								</a>
								
								<!-- 发表时间 -->
								<span class="time">
									{{s.prettyTime}}
								</span>
								<!-- 评论数 -->
								<span class="time" title="评论">
									<i class="fa fa-comment"></i>
									<em>{{s.commentNum}}</em>
								</span>
								<!-- 收获喜欢数 -->
								<span class="time" title="收获喜欢">
									<i class="fa fa-heart"></i>
									<em>{{s.favoriteNum}}</em>
								</span>
								<!-- 文章分类 -->
								<span class="label label-default" style="background-color: #bbb">
									{{s.articleCategory.name}}
								</span>
							</div>
							<!-- 文章内容描述 -->
							<div class="mob-author mob-sub">{{s.describle | characters:40 }}</div>
						</div>
						<hr>
					</div>
				</div>
			<!-- </div> -->
		</div>
		<!-- 右边栏 未登录时显示  网站说明 -->
		<div class="col-md-3 col-padding-left-over-bs" ng-switch-when="false">
			<ul class="list-group">
			  <!-- 列表组 list-group 列表中的条目添加颜色样式 -->
			  <li class="list-group-item list-group-item-success">
			    <h4 class="list-group-item-heading">科品者</h4>
			    <p class="list-group-item-text">拥抱科技改变生活、关注科技热点话题、交流科技前沿内容。</p>
			  </li>
			</ul>
		</div>
		<!-- 右边栏 已登录时显示  用户头像 -->
		<div class="col-md-3 col-padding-left-over-bs" ng-switch-when="true">
			<ul class="list-group">
			  <li class="list-group-item">
			    <div class="profile-image">
			    <!-- center-block 让内容块居中 -->
                  <img
                    data-ng-src="{{'data:' + account.pictureContentType + ';base64,' + account.picture}}"
                    class="img-circle profile-img-middle center-block" alt="{{account.nickName}}" title="{{account.nickName}}" ng-if="account.picture"/>
                </div>
               <!-- text-center 让文字居中 -->
			    <p class="list-group-item-text text-center box-author-name">{{account.nickName}}</p>
			    <!-- 个人简介 过滤器  characters:3 显示3个字符-->
			    <p class="list-group-item-text text-center box-author-one" title="{{account.signature}}">{{account.signature | characters:28 }}</p>
			    <p class="text-center">
                 	<a class="btn btn-default" ui-sref="article.new">
						<!-- <i class="fa fa-file-o fa-lg"></i> -->  发布文章
					</a>
                 	<a class="btn btn-default" ui-sref="articleAuthorDetail({uid:account.id})">
                 		<!-- 用的是 Font Awesome的图标-->
						<!-- <i class="fa fa-comments fa-lg"></i> --> {{articlesum}}篇文章
					</a>
				</p>
			    <!-- <div>
				    <ul class="nav nav-pills pad-left1" role="tablist">
					  <li role="presentation" class="active"><a ui-sref="article.new">发布文章</a></li>
					  <li role="presentation" class="active"><a href="#">文章数 <span class="badge">42</span></a></li>
					  <li role="presentation" class="active"><a href="#">42篇文章</a></li>
					</ul>
			    </div> -->
			  </li>
			</ul>
		</div>
		<!-- 右边栏 活跃作者 -->
		<div class="col-md-3 col-padding-left-over-bs">
			<div class="panel panel-success">
				<div class="panel-heading">
					<h3 class="panel-title"><i class="fa fa-user"></i>活跃用户</h3>
				</div>
				<!-- <div class="panel-body">Panel content</div> -->
				<!-- List group 面板列表组-->
				<ul class="list-group">
					<!-- pull-right css 向左或向右浮动 -->
					<li class="list-group-item" ng-repeat="au in authors track by au.author.id">
						<a ui-sref="articleAuthorDetail({uid:au.author.id})" title="{{au.author.nickName}}">
							<span class="pull-left">
								<img
				                    data-ng-src="{{'data:' + au.author.pictureContentType + ';base64,' + au.author.picture}}"
				                    class="img-circle profile-img-smaller" alt="{{au.author.nickName}}" ng-if="au.author.picture"/>
							</span>
							<span class="main-hot-user-img">{{au.author.nickName}}</span>
							<span class="badge pull-right" data-toggle="tooltip" data-placement="left" title="文章发表数">{{au.articleNum}}</span>
						</a>
					</li>
				</ul>
			</div>
		</div>
		<!-- 右边栏 热门文章 -->
		<div class="col-md-3 col-padding-left-over-bs">
			<div class="panel panel-info">
				<div class="panel-heading">
					<h3 class="panel-title"><i class="fa fa-star"></i>热门文章</h3>
				</div>
				<!-- <div class="panel-body">Panel content</div> -->
				<!-- List group 面板列表组-->
				<ul class="list-group">
					<li class="list-group-item" ng-repeat="hotArticle in hotArticles track by hotArticle.id">
						<a ui-sref="article.detail({id:hotArticle.id})" title="{{hotArticle.title}}">
							{{hotArticle.title | characters:12}}
							<span class="badge pull-right" data-toggle="tooltip" data-placement="left" title="文章浏览数">{{hotArticle.pageView}}</span>
						</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>
