
<form name="editForm" role="form" novalidate ng-submit="save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="clear()">&times;</button>
        <h4 class="modal-title" id="myArticleReplyLabel" translate="finderApp.articleReply.home.createOrEditLabel">Create or edit a ArticleReply</h4>
    </div>
    <div class="modal-body">
        <jh-alert-error></jh-alert-error>
        <div class="form-group">
            <label for="id" translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="articleReply.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" translate="finderApp.articleReply.content" for="field_content">Content</label>
            <input type="text" class="form-control" name="content" id="field_content"
                    ng-model="articleReply.content"
                    required />
            <div ng-show="editForm.content.$invalid">
                <p class="help-block"
                    ng-show="editForm.content.$error.required" translate="entity.validation.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" translate="finderApp.articleReply.published" for="field_published">Published</label>
            <input type="checkbox" class="form-control" name="published" id="field_published"
                    ng-model="articleReply.published"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" translate="finderApp.articleReply.createdDate" for="field_createdDate">CreatedDate</label>
            <input type="datetime-local" class="form-control" name="createdDate" id="field_createdDate"
                    ng-model="articleReply.createdDate"
                     />
        </div>

        <div class="form-group">
            <label translate="finderApp.articleReply.article" for="field_article">article</label>
            <select class="form-control" id="field_article" name="article" ng-model="articleReply.article" ng-options="article as article.id for article in articles track by article.id">
                <option value=""></option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
