<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title th:text="'科品者激活账号'">JHipster activation</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    </head>
    <body>
        <p th:text="'亲爱的 ' + ${user.login}">
            Dear
        </p>
        <p th:text="'您的科品者账号已创建成功, 请点击下列链接启用你的账号:'">
            Your JHipster account has been created, please click on the URL below to activate it:
        </p>
        <p>
            <a th:href="@{|${baseUrl}/#/activate?key=${user.activationKey}|}"
               th:text="|${user.login}|">Activation Link</a>
        </p>
        <p>
            <span th:text="'祝您使用愉快,请勿回复邮件.'">Regards, </span>
            <br/>
            <em th:text="'科品者团队.'">JHipster.</em>
        </p>
    </body>
</html>
