<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title th:text="'科品者密码重置'">JHipster password reset</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    </head>
    <body>
        <p th:text="'亲爱的 ' + ${user.login}">
            Dear
        </p>
        <p th:text="'科品者账号密码重置, 请点击下面的URL链接:'">
            For your JHipster account a password reset was requested, please click on the URL below to reset it:
        </p>
        <p>
            <a th:href="@{|${baseUrl}/#/reset/finish?key=${user.resetKey}|}"
               th:text="|${baseUrl}/#/reset/finish?key=${user.resetKey}|">Reset Link</a>
        </p>
        <p th:text="'(如果您无法点击此链接，请将其复制到浏览器地址栏后访问)'">
            Your JHipster account has been created, please click on the URL below to activate it:
        </p>
        <p>
            <span th:text="'祝您使用愉快,请勿回复邮件.'">Regards, </span>
            <br/>
            <em th:text="'科品者团队.'">JHipster.</em>
        </p>
    </body>
</html>
