
<div>
	<div class="row">
		<!-- 定义panel面板 -->
		<div class="col-md-9 panel panel-default">
			<div class="panel-body">
			  	<!-- 文章标题  text-center 文字居中显示 -->
			  	<h1 class="t-h1">{{article.title}}</h1>
			  	<div class="article-author">
					<span class="author-name">{{article.user.nickName}}</span>
					<i class="icon icon-line"></i>
					<!-- 格式化日期 2016-01-07 09:55 -->
					<span class="article-time">{{article.createdDate | date:'yyyy-MM-dd HH:mm'}}</span>
					<span class="article-share">收藏1</span>
					<span class="article-pl">评论2</span>
				</div>
				<!-- 文章内容前的图片 -->
				<div class="text-center">
					<img data-ng-src="{{'data:' + article.firstImgContentType + ';base64,' + article.firstImg}}" style="max-width: 100%;" ng-if="article.firstImg"/>
				</div>
				<div id="article_content" class="article-content-wrap">
					<span class="form-control-static" data-ng-bind-html="article.content">
                    <!-- angular对html转义 data-ng-bind-html -->
                   	</span>
                   	
                   	<span class="c2">
						*文章为作者独立观点，不代表本站立场
					</span>
					<!-- 标签部分 -->
					<div class="tag-box ">
						<a target="_blank" href="/tags/10691.html">
							<span class="label label-default">应用号</span>
						</a>
						<a target="_blank" href="/tags/10691.html">
							<span class="label label-default">微信</span>
						</a>
						<a target="_blank" href="/tags/10691.html">
							<span class="label label-default">头条</span>
						</a>
					</div>
				</div>
        	</div>
		</div>
		<!-- 右边栏  用户头像 -->
		<div class="col-md-3">
			<ul class="list-group">
			  <li class="list-group-item">
			    <div class="profile-image">
			    <!-- center-block 让内容块居中 -->
                  <img
                    data-ng-src="{{'data:' + account.pictureContentType + ';base64,' + account.picture}}"
                    class="img-circle profile-img-middle center-block" alt="profile" ng-if="account.picture"/>
                </div>
                <!-- text-center 让文字居中 -->
			    <p class="list-group-item-text text-center box-author-name">{{account.nickName}}</p>
			    <!-- 个性签名 过滤器  characters:3 显示3个字符-->
			    <p class="list-group-item-text text-center box-author-one">{{account.signature | characters:28 }}</p>
			    <div>
				    <ul class="nav nav-pills pad-left1" role="tablist">
					  <li role="presentation" class="active"><a target="_blank" ui-sref="article.new">{{article.countArticleUid}}篇文章</a></li>
					  <li role="presentation" class="active"><a target="_blank" href="#">10个评论</a></li>
					</ul>
			    </div>
			  </li>
			</ul>
		</div>
		<!-- 右边栏 热门文章 -->
		<div class="col-md-3 box-moder">
			<blockquote>
			  <p>
				<b>热门文章</b>
			  </p>
			</blockquote>
			<div class="thumbnail voffset3">
				<div ng-repeat="hotArticle in hotArticles track by hotArticle.id">
					<a target="_blank" ui-sref="article.detail({id:hotArticle.id})">
						<img data-ng-src="{{'data:' + hotArticle.firstImgContentType + ';base64,' + hotArticle.firstImg}}"/>
					</a>
					<!-- 文章标题 -->
					<div class="caption">
						<a target="_blank" ui-sref="article.detail({id:hotArticle.id})" title="{{hotArticle.title}}">{{hotArticle.title | characters:30}}</a>
					</div>
				</div>
			</div>
			<div class="go-top go-feedback">
				<div class="js-show-feedback-box"> 意见反馈 </div>
			</div>
			<!-- 回到页面顶部 -->
			<div id="go-top-btn" class="go-top" >
				<i class="glyphicon glyphicon-menu-up go-icon"></i>
			</div>
		</div>
	</div>
    <!-- <h2><span translate="finderApp.article.detail.title">Article</span> {{article.id}}</h2>
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
            <tr>
                <th translate="entity.detail.field">Field</th>
                <th translate="entity.detail.value">Value</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>
                    <span translate="finderApp.article.title">Title</span>
                </td>
                <td>
                    <span class="form-control-static">{{article.title}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="finderApp.article.firstImg">FirstImg</span>
                </td>
                <td>
                    <img data-ng-src="{{'data:' + article.firstImgContentType + ';base64,' + article.firstImg}}" style="max-width: 100%;" ng-if="article.firstImg"/>
                    <div>{{article.firstImgContentType}}  {{byteSize(article.firstImg)}}</div>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="finderApp.article.content">Content</span>
                </td>
                <td>
                    <span class="form-control-static" data-ng-bind-html="article.content">
                    angular对html转义 data-ng-bind-html
                   	</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="finderApp.article.createdDate">CreatedDate</span>
                </td>
                <td>
                    <span class="form-control-static">{{article.createdDate | date:'medium'}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="finderApp.article.user">user</span>
                </td>
                <td>
                    {{article.user.nickName}}
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="finderApp.article.articleCategory">articleCategory</span>
                </td>
                <td>
                    <a class="form-control-static" ui-sref="articleCategory.detail({id:article.articleCategory.id})">{{article.articleCategory.name}}</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

    <button type="submit"
            onclick="window.history.back()"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span translate="entity.action.back"> Back</span>
    </button> -->
</div>
