<div>
<div class="row">
<div class="col-md-8 col-md-offset-2 panel panel-default">
<form name="editForm" role="form" novalidate ng-submit="save()" show-validation>

        <jh-alert-error></jh-alert-error>
        <!-- 显示验证的红色字用ng-class -->
        <div class="form-group" ng-class="{'has-error':editForm.title.$dirty && editForm.title.$invalid}">
            <label class="control-label" translate="finderApp.article.title" for="field_title">Title</label>
            <label class="control-label error-font-color" for="field_title">*</label>
            <input type="text" class="form-control" name="title" id="field_title"
                    ng-model="article.title"
                    required ng-maxlength="60" />
            <div ng-show="editForm.title.$invalid">
                <p class="help-block"
                    ng-show="editForm.title.$dirty && editForm.title.$error.required" translate="entity.validation.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.title.$dirty && editForm.title.$error.maxlength" translate="entity.validation.maxlength" translate-value-max="60">
                    This field cannot be longer than 40 characters.
                </p>
            </div>
        </div>
        <div class="form-group" ngf-drop ngf-change="setFirstImg($file, article)" ngf-pattern="'image/*'" ng-class="{'has-error':isupload && editForm.firstImg.$invalid}">
            <label class="control-label" translate="finderApp.article.firstImg" for="field_firstImg">FirstImg</label>
            <label class="control-label error-font-color" for="field_firstImg">*</label>
            <div>
            	<div style="padding-bottom: 5px">
                	<img data-ng-src="{{'data:' + article.firstImgContentType + ';base64,' + article.firstImg}}" style="max-height: 300px;" ng-if="article.firstImg"/>
                </div>
                <!-- <div class="help-block clearfix">
                    <span class="pull-left">{{article.firstImgContentType}} {{byteSize(article.firstImg)}}</span>
                    <button ng-click="article.firstImg=null;article.firstImgContentType=null;"
                            ng-if="article.firstImg"
                            class="btn btn-default btn-xs pull-right">
                        <span class="glyphicon glyphicon-remove"></span>
                    </button>
                </div>
                <button type="file" ngf-select class="btn btn-default btn-block"
                        ngf-change="setFirstImg($file, article)" accept="image/*" translate="entity.action.addimage">
                    Add image
                </button> -->
                <button class="btn btn-success btn-sm" type="file" ngf-select
	                        ngf-change="setFirstImg($file, article)" accept="image/*">
	                  <i class="fa fa-upload"></i>&nbsp;&nbsp;
	                  <span class="bold" translate="entity.action.addimage">Upload</span>
                </button>
                <button ng-click="article.firstImg=null;article.firstImgContentType=null;setIsupload()"
                        ng-if="article.firstImg"
                        class="btn btn-danger btn-sm">
                  <i class="glyphicon glyphicon-remove"></i>
                </button>
            </div>
            <input type="hidden" class="form-control" name="firstImg" id="field_firstImg"
                    ng-model="article.firstImg"
                    required />
            <input type="hidden" class="form-control" name="firstImgContentType" id="field_firstImgContentType"
                    ng-model="article.firstImgContentType" />
            <div ng-show="editForm.firstImg.$invalid">
                <p class="help-block"
                    ng-show="isupload && editForm.firstImg.$error.required" translate="entity.validation.required">
                    This field is required.
                </p>
            </div>
        </div>
        
        <div class="form-group">
            <!-- <label class="control-label" translate="finderApp.article.content" for="field_content">Content</label>
            <input type="text" class="form-control" name="content" id="field_content"
                    ng-model="article.content"
                     /> -->
			    <!-- bootstrap-wysiwyg 文本编辑器 -->
			    <div class="btn-toolbar" data-role="editor-toolbar" data-target="#editor">
				    <!-- 显示说明文字用 help-block -->
				    <p class="help-block">文章内容上传图片可直接拖拽图片到文章内容区域或是点击上传图片按钮。</p>
					<div class="btn-group">
						<a class="btn btn-default dropdown-toggle" data-toggle="dropdown" title="字体大小"><i class="fa fa-text-height"></i>&nbsp;<b class="caret"></b></a>
						<ul class="dropdown-menu">
							<li><a data-edit="fontSize 5" class="fs-Five">大</a></li>
							<li><a data-edit="fontSize 3" class="fs-Three">正常</a></li>
							<li><a data-edit="fontSize 1" class="fs-One">小</a></li>
						</ul>
					</div>
					<div class="btn-group">
						<a class="btn btn-default" data-edit="bold" title="加粗 (Ctrl/Cmd+B)"><i class="fa fa-bold"></i></a>
						<a class="btn btn-default" data-edit="italic" title="斜体 (Ctrl/Cmd+I)"><i class="fa fa-italic"></i></a>
						<a class="btn btn-default" data-edit="strikethrough" title="删除线"><i class="fa fa-strikethrough"></i></a>
						<a class="btn btn-default" data-edit="underline" title="下划线 (Ctrl/Cmd+U)"><i class="fa fa-underline"></i></a>
					</div>
					<div class="btn-group">
						<a class="btn btn-default" data-edit="insertunorderedlist" title="无序列表"><i class="fa fa-list-ul"></i></a>
						<a class="btn btn-default" data-edit="insertorderedlist" title="有序列表"><i class="fa fa-list-ol"></i></a>
						<a class="btn btn-default" data-edit="outdent" title="减少缩进 (Shift+Tab)"><i class="fa fa-outdent"></i></a>
						<a class="btn btn-default" data-edit="indent" title="缩进 (Tab)"><i class="fa fa-indent"></i></a>
					</div>
					<div class="btn-group">
						<a class="btn btn-default" data-edit="justifyleft" title="居左 (Ctrl/Cmd+L)"><i class="fa fa-align-left"></i></a>
						<a class="btn btn-default" data-edit="justifycenter" title="居中 (Ctrl/Cmd+E)"><i class="fa fa-align-center"></i></a>
						<a class="btn btn-default" data-edit="justifyright" title="居右 (Ctrl/Cmd+R)"><i class="fa fa-align-right"></i></a>
						<a class="btn btn-default" data-edit="justifyfull" title="对齐 (Ctrl/Cmd+J)"><i class="fa fa-align-justify"></i></a>
					</div>
					<div class="btn-group">
						<a class="btn btn-default dropdown-toggle" data-toggle="dropdown" title="超链接"><i class="fa fa-link"></i></a>
						<div class="dropdown-menu input-append">
							<input placeholder="URL" type="text" data-edit="createLink" />
							<button class="btn" type="button">增加</button>
						</div>
					</div>
					<div class="btn-group">
						<a class="btn btn-default" data-edit="unlink" title="删除超链接"><i class="fa fa-unlink"></i></a>
						<!-- <span class="btn btn-default" title="上传图片 (可拖拽图片)" id="pictureBtn"> <i class="fa fa-picture-o"></i>
							<input class="imgUpload" type="file" data-role="magic-overlay" data-target="#pictureBtn" data-edit="insertImage" />
						</span> -->
						<!-- 上传图片的按钮不可用,修改用label for的方式可用 -->
						<label class="btn btn-default" title="上传图片" for="pictureBtn"><i class="fa fa-picture-o"></i>
							<input class="imgUpload" type="file" accept="image/*" data-role="magic-overlay" id="pictureBtn" data-edit="insertImage" />
						</label>
					</div>
					<div class="btn-group">
						<a class="btn btn-default" data-edit="undo" title="取消 (Ctrl/Cmd+Z)"><i class="fa fa-undo"></i></a>
						<a class="btn btn-default" data-edit="redo" title="重做 (Ctrl/Cmd+Y)"><i class="fa fa-repeat"></i></a>
					</div>
				</div>
				<div id="editor" class="lead fs-Three" data-placeholder="这里写文章的内容"></div>
				
				<script type='text/javascript'>
				$('#editor').wysiwyg();
				
				$(".dropdown-menu > input").click(function (e) {
	        		e.stopPropagation();
	    		});
				</script>
        </div>
        <!-- 文章类别 -->
        <div class="form-group" ng-class="{'has-error':editForm.articleCategory.$dirty && editForm.articleCategory.$invalid}">
            <label class="control-label" translate="finderApp.article.articleCategory" for="field_articleCategory">articleCategory</label>
            <label class="control-label error-font-color" for="field_articleCategory">*</label>
            <select class="form-control" id="field_articleCategory" name="articleCategory" ng-model="article.articleCategory" ng-options="articleCategory as articleCategory.name for articleCategory in articlecategorys track by articleCategory.id" required>
                <option value=""></option>
            </select>
            <div ng-show="editForm.articleCategory.$invalid">
                <p class="help-block"
                    ng-show="editForm.articleCategory.$dirty && editForm.articleCategory.$error.required" translate="entity.validation.required">
                    This field is required.
                </p>
            </div>
        </div>
        <!-- <div class="form-group">
            <label translate="finderApp.article.user" for="field_user">user</label>
            <select class="form-control" id="field_user" name="user" ng-model="article.user" ng-options="user as user.nickName for user in users track by user.id">
                <option value=""></option>
            </select>
        </div> -->

        <button type="submit" ng-disabled="editForm.$invalid || isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span translate="entity.action.save">Save</span>
        </button>
<!--         <button type="button" class="btn btn-default" ng-click="clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
        </button> -->
</form>
</div>
</div>
</div>