
<div>
	<div class="row">
		<!-- 定义panel面板 -->
		<div class="col-md-9 panel panel-default">
			<div class="panel-body">
			  	<!-- 文章标题  text-center 文字居中显示 -->
			  	<h1 class="t-h1">{{article.title}}</h1>
			  	<div class="article-author">
					<span class="author-name">{{article.user.nickName}}</span>
					<i class="icon icon-line"></i>
					<!-- 格式化日期 2016-01-07 09:55 -->
					<span class="article-time">{{article.createdDate | date:'yyyy-MM-dd HH:mm'}}</span>
					<span class="article-share">收藏{{articleFavoriteCount}}</span>
					<!-- java中Array转换js数组用length -->
					<span class="article-pl">评论{{replies.length}}</span>
				</div>
				<!-- 文章内容前的图片 -->
				<div class="text-center">
					<img data-ng-src="{{'data:' + article.firstImgContentType + ';base64,' + article.firstImg}}" style="max-width: 100%;" ng-if="article.firstImg"/>
				</div>
				<div id="article_content" class="article-content-wrap">
					<!-- 文章内容 -->
					<span class="form-control-static" data-ng-bind-html="article.content">
                    <!-- angular对html转义 data-ng-bind-html -->
                   	</span>
                   	<div class="favoriteAticle-wrap">
                   		<!-- 可以用  p class="text-center" 让内容居中-->
                   		<!-- <p class="text-center">
	                   		<a class="btn btn-primary btn-lg" href="#" style="width: 110px;">
	                   			用的是 Font Awesome的图标
	 							<i class="fa fa-bookmark-o fa-lg"></i> 收藏
	 						</a>
 						</p> -->
 						<form name="updateForm" role="form" ng-submit="addFavorite(articleFavorite.id)">
	 						<!-- 文章收藏 -->
	 						<div ng-switch="isAuthenticated()">
	 							<!-- 未登录 -->
	 							<div ng-switch-when="false">
		 							<p class="pull-right">
			 							<!-- <a class="article-end-collect" ng-click="addFavorite(articleFavorite.id)"></a> -->
			 							<button class="btn btn-default" type="submit">
											<i class="fa fa-user-plus"></i>
												收藏
										</button>
									</p>
	 							</div>
	 							<!-- 已登录 -->
	 							<div ng-switch-when="true">
	 								<p class="pull-right">
	 									<!-- 根据id是否存在显示不同标签  span是已收藏  a是未收藏 -->
			 							<!-- <span ng-show="isArticleFavoriteCurrentUser" class="article-end-collect-fin"></span>
			 							<a ng-show="!isArticleFavoriteCurrentUser" class="article-end-collect" ng-click="addFavorite(articleFavorite.id)"></a> -->
			 							<button class="btn btn-default" ng-disabled="isFavoriteSaving" type="submit">
											<i class="fa fa-heart"></i>
											<span ng-if="isArticleFavoriteCurrentUser">已收藏</span>
											<span ng-if="!isArticleFavoriteCurrentUser">收藏</span>
										</button>
									</p>
	 							</div>
	 						</div>
 						</form>
					</div>
                   	<span class="c2">
						*文章为作者独立观点，不代表本站立场
					</span>
					<!-- 文章底部标签 -->
					<div class="tag-box">
						<div ng-repeat="tag in article.tags">
							<a target="_blank">
								<span class="label label-default">{{tag.name}}</span>
							</a>
						</div>
					</div>
					<!-- 发表评论 -->
					<div class="pl-wrap">
						<span class="span-mark-author reply-title"><i class="fa fa-pencil"></i>发表评论</span>
					</div>
					<div class="pl-form-wrap" ng-switch="isAuthenticated()">
						<div class="no-login-box" ng-switch-when="false">
							<p class="text-center">
								<a ui-sref="login">登录</a>
								后参与评论
							</p>
						</div>
						<!-- 显示提交后的提示信息  <jh-alert>指令会有中文乱码问题 -->
						<jh-alert></jh-alert>
						
						<form name="editForm" role="form" novalidate ng-submit="replySave()" show-validation>
							<!-- 评论输入框 -->
							<div ng-switch-when="true">
								<div class="form-group" ng-class="{'has-error':editForm.content.$dirty && editForm.content.$invalid}">
									<textarea ng-model="articleReply.content" name="content" class="form-control login-box-editor" 
											  placeholder="写下你的评论" required ng-maxlength="200"
											  style="height:200px;visibility:hidden;"></textarea>
									<!-- kindeditor-4.1.10 国内文本编辑器  
										 js写在这的原因是使用的jquery.js的版本不同
										 如果不用kindeditor自带的会显示两个文本编辑器-->
									<script src="../../../../bower_components/kindeditor-4.1.10/examples/jquery.js"></script>
									<script src="../../../../bower_components/kindeditor-4.1.10/kindeditor-min.js"></script>
									<script src="../../../../bower_components/kindeditor-4.1.10/lang/zh_CN.js"></script>
										
									<script type="text/javascript">
										$(function() {
											KindEditor.create('textarea[name="content"]',{
												resizeType : 1,
												allowPreviewEmoticons : false,
												allowImageUpload : false,
												items : [
													'fontname', 'fontsize', '|', 'forecolor', 'hilitecolor', 'bold', 'italic', 'underline',
													'removeformat', '|', 'justifyleft', 'justifycenter', 'justifyright', 'insertorderedlist',
													'insertunorderedlist', '|', 'emoticons', 'link']
											});
										});
									</script>
									
									<!-- <div ng-show="editForm.content.$invalid">
						                <p class="help-block"
						                    ng-show="editForm.content.$dirty && editForm.content.$error.required">
						                    	请输入评论内容
						                </p>
						                <p class="help-block"
						                    ng-show="editForm.content.$dirty && editForm.content.$error.maxlength" >
						                    	评论内容不能超过200个字
						                </p>
						            </div> -->
								</div>
							</div>
							<button type="submit" ng-disabled="isSaving" class="btn btn-default btn-lg btn-article">发表</button>
						</form>
					</div>
					
					<div class="article-comment-label reply-title" ng-show="hasReply">
						<i class="fa fa-comments"></i>文章评论</div>
					<!-- 评论列表 -->
					<div>
						<div class="pl-box-wrap" ng-repeat="reply in replies track by reply.id">
							<div class="pl-box-top">
								<div class="author-info pull-right">
									<span class="time" title="{{reply.createdDate | date:'yyyy-MM-dd HH:mm'}}">{{reply.prettyTime}}</span>
								</div>
								<div class="author-info">
									<div class="author-face avatar">
										<a href="">
											<img data-ng-src="{{'data:' + reply.replyer.pictureContentType + ';base64,' + reply.replyer.picture}}"
							                    class="img-circle profile-img-small center-block" alt="头像" ng-if="reply.replyer.picture"/>
						                </a>
									</div>
									<span class="author-name">
										<a href="">{{reply.replyer.nickName}}</a>
									</span>
									<!-- <span class="time">{{reply.createdDate | date:'yyyy-MM-dd HH:mm'}}</span> -->
								</div>
								<!-- 评论内容 -->
								<div class="pl-content" ng-bind-html="reply.content">
								</div>
							</div>
						</div>
						<p class="pl-box-wrap load-more" ng-show="!nextPage">
							<a ng-click="loadPageArticleReply(pageNumber)">
								加载更多
								<i class="fa fa-arrow-down"></i>
							</a>
						</p>
					</div>
				</div>
        	</div>
		</div>
		<!-- 右边栏  用户头像 -->
		<div class="col-md-3">
			<ul class="list-group">
			  <li class="list-group-item">
			    <div class="profile-image">
			    <!-- center-block 让内容块居中 -->
                  <img
                    data-ng-src="{{'data:' + account.pictureContentType + ';base64,' + account.picture}}"
                    class="img-circle profile-img-middle center-block" alt="profile" ng-if="account.picture"/>
                </div>
                <!-- text-center 让文字居中 -->
			    <p class="list-group-item-text text-center box-author-name">{{account.nickName}}</p>
			    <!-- 个性签名 过滤器  characters:3 显示3个字符-->
			    <p class="list-group-item-text text-center box-author-one">{{account.signature | characters:28 }}</p>
			    <p class="text-center">
                 	<a class="btn btn-default" target="_blank" ui-sref="article.new">
						<!-- <i class="fa fa-file-o fa-lg"></i> -->{{article.countArticleUid}}篇文章
					</a>
                 	<a class="btn btn-default" target="_blank" ui-sref="article.new">
                 		<!-- 用的是 Font Awesome的图标-->
						<!-- <i class="fa fa-comments fa-lg"></i> -->{{article.countArticleReplyUid}}个评论
					</a>
				</p>
				<!-- 用p标签替代 下面的tablist -->
			    <!-- <div>
				    <ul class="nav nav-pills pad-left1" role="tablist">
					  <li role="presentation" class="active"><a target="_blank" ui-sref="article.new">{{article.countArticleUid}}篇文章</a></li>
					  <li role="presentation" class="active"><a target="_blank" href="#">10个评论</a></li>
					</ul>
			    </div> -->
			  </li>
			</ul>
		</div>
		<!-- 右边栏 热门文章 -->
		<div class="col-md-3 box-moder">
			<blockquote>
			  <p>
				<b>热门文章</b>
			  </p>
			</blockquote>
			<div class="thumbnail voffset3">
				<div ng-repeat="hotArticle in hotArticles track by hotArticle.id">
					<a target="_blank" ui-sref="article.detail({id:hotArticle.id})" title="{{hotArticle.title}}">
						<img data-ng-src="{{'data:' + hotArticle.firstImgContentType + ';base64,' + hotArticle.firstImg}}"/>
					</a>
					<!-- 文章标题 -->
					<div class="caption">
						<a target="_blank" ui-sref="article.detail({id:hotArticle.id})" title="{{hotArticle.title}}">{{hotArticle.title | characters:30}}</a>
					</div>
				</div>
			</div>
			<div class="go-top go-feedback">
				<div class="js-show-feedback-box"> 意见反馈 </div>
			</div>
			<!-- 回到页面顶部 -->
			<div id="go-top-btn" class="go-top" >
				<i class="glyphicon glyphicon-menu-up go-icon"></i>
			</div>
		</div>
	</div>
    <!-- <h2><span translate="finderApp.article.detail.title">Article</span> {{article.id}}</h2>
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
            <tr>
                <th translate="entity.detail.field">Field</th>
                <th translate="entity.detail.value">Value</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>
                    <span translate="finderApp.article.title">Title</span>
                </td>
                <td>
                    <span class="form-control-static">{{article.title}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="finderApp.article.firstImg">FirstImg</span>
                </td>
                <td>
                    <img data-ng-src="{{'data:' + article.firstImgContentType + ';base64,' + article.firstImg}}" style="max-width: 100%;" ng-if="article.firstImg"/>
                    <div>{{article.firstImgContentType}}  {{byteSize(article.firstImg)}}</div>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="finderApp.article.content">Content</span>
                </td>
                <td>
                    <span class="form-control-static" data-ng-bind-html="article.content">
                    angular对html转义 data-ng-bind-html
                   	</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="finderApp.article.createdDate">CreatedDate</span>
                </td>
                <td>
                    <span class="form-control-static">{{article.createdDate | date:'medium'}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="finderApp.article.user">user</span>
                </td>
                <td>
                    {{article.user.nickName}}
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="finderApp.article.articleCategory">articleCategory</span>
                </td>
                <td>
                    <a class="form-control-static" ui-sref="articleCategory.detail({id:article.articleCategory.id})">{{article.articleCategory.name}}</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

    <button type="submit"
            onclick="window.history.back()"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span translate="entity.action.back"> Back</span>
    </button> -->
</div>
