<div>
    <h2 translate="finderApp.article.home.title">Articles</h2>
    <jh-alert></jh-alert>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
            	<!-- 隐藏创建文章按钮 -->
                <!-- <button class="btn btn-primary" ui-sref="article.new">
                    <span class="glyphicon glyphicon-flash"></span> <span translate="finderApp.article.home.createLabel">Create a new Article</span>
                </button> -->
                <button class="btn btn-primary" ng-click="updatePublished()">
                    <span class="glyphicon glyphicon-flash"></span> 禁止发布文章
                </button>
                <button class="btn btn-primary" ng-click="cleanHomeData()">
                    <span class="glyphicon glyphicon-flash"></span> 清空首页数据缓存
                </button>
            </div>
            <div class="col-md-8">
                <form name="searchForm" class="form-inline">
                    <div class="form-group">
                        <input type="text" class="form-control" ng-model="searchQuery" id="searchQuery" placeholder="query">
                    </div>
                    <button class="btn btn-info" ng-click="search()"><span class="glyphicon glyphicon-search"></span> <span>Search a Article</span>
                    </button>
                </form>
            </div>
        </div>
    </div>

    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr jh-sort="predicate" ascending="reverse" callback="loadAll()">
                	<th> </th>
                    <th jh-sort-by="id"><span translate="global.field.id">ID</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="title"><span translate="finderApp.article.title">Title</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="content"><span translate="finderApp.article.content">Content</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="createdDate"><span translate="finderApp.article.createdDate">CreatedDate</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="published"><span translate="finderApp.article.published">published</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="pageView"><span translate="finderApp.article.pageView">pageView</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="user.nickName"><span translate="finderApp.article.user">user</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="articleCategory.name"><span translate="finderApp.article.articleCategory">articleCategory</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="article in articles track by article.id">
                	<td><input i-check type="checkbox" ng-model="article.published" value="{{article.id}}"></td>
                    <td><a ui-sref="article.detail({id:article.id})">{{article.id}}</a></td>
                    <td>{{article.title}}</td>
                    <td>
                    	<img data-ng-src="{{'data:' + article.firstImgContentType + ';base64,' + article.firstImg}}" style="max-height: 30px;" ng-if="article.firstImg"/><!--  {{article.firstImgContentType}} {{byteSize(article.firstImg)}} -->
                    	<!-- {{article.content}} -->
                    	<!-- angular对html转义 data-ng-bind-html -->
                    	<div data-ng-bind-html="article.content"></div>
                    </td>
                    <!-- 格式化日期时间 yyyy-MM-dd HH:mm -->
                    <td>{{article.createdDate | date:'yyyy-MM-dd HH:mm'}}</td>
                    <td>
                        {{article.published == true ? '允许发布':'禁止发布'}}
                    </td>
                    <td>
                        {{article.pageView}}
                    </td>
                    <td>
                        {{article.user.nickName}}
                    </td>
                    <td>
                        <a ui-sref="articleCategory.detail({id:article.articleCategory.id})">{{article.articleCategory.name}}</a>
                    </td>
                    <td>
                        <button type="submit"
                                ui-sref="article.detail({id:article.id})"
                                class="btn btn-info btn-sm">
                            <span class="glyphicon glyphicon-eye-open"></span>&nbsp;<span translate="entity.action.view"> View</span>
                        </button>
                        <button type="submit"
                                ui-sref="article.edit({id:article.id})"
                                class="btn btn-primary btn-sm">
                            <span class="glyphicon glyphicon-pencil"></span>&nbsp;<span translate="entity.action.edit"> Edit</span>
                        </button>
                        <button type="submit"
                                ui-sref="article.delete({id:article.id})"
                                class="btn btn-danger btn-sm">
                            <span class="glyphicon glyphicon-remove-circle"></span>&nbsp;<span translate="entity.action.delete"> Delete</span>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="text-center">
        <uib-pagination class="pagination-sm" total-items="totalItems" ng-model="page" ng-change="loadAll()" items-per-page="pageSize"></uib-pagination>
    </div>
</div>
