
<form name="editForm" role="form" novalidate ng-submit="save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="clear()">&times;</button>
        <h4 class="modal-title" id="myArticleLabel" translate="finderApp.article.home.createOrEditLabel">Create or edit a Article</h4>
    </div>
    <div class="modal-body">
        <jh-alert-error></jh-alert-error>
        <div class="form-group">
            <label class="control-label" translate="finderApp.article.title" for="field_title">Title</label>
            <input type="text" class="form-control" name="title" id="field_title"
                    ng-model="article.title"
                    required ng-maxlength="40" />
            <div ng-show="editForm.title.$invalid">
                <p class="help-block"
                    ng-show="editForm.title.$error.required" translate="entity.validation.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.title.$error.maxlength" translate="entity.validation.maxlength" translate-value-max="40">
                    This field cannot be longer than 40 characters.
                </p>
            </div>
        </div>
        <div class="form-group" ngf-drop ngf-change="setFirstImg($file, article)" ngf-pattern="'image/*'">
            <label class="control-label" translate="finderApp.article.firstImg" for="field_firstImg">FirstImg</label>
            <div>
                <img data-ng-src="{{'data:' + article.firstImgContentType + ';base64,' + article.firstImg}}" style="max-height: 100px;" ng-if="article.firstImg"/>
                <div class="help-block clearfix">
                    <span class="pull-left">{{article.firstImgContentType}} {{byteSize(article.firstImg)}}</span>
                    <button ng-click="article.firstImg=null;article.firstImgContentType=null;"
                            ng-if="article.firstImg"
                            class="btn btn-default btn-xs pull-right">
                        <span class="glyphicon glyphicon-remove"></span>
                    </button>
                </div>
                <button type="file" ngf-select class="btn btn-default btn-block"
                        ngf-change="setFirstImg($file, article)" accept="image/*" translate="entity.action.addimage">
                    Add image
                </button>
            </div>
            <input type="hidden" class="form-control" name="firstImg" id="field_firstImg"
                    ng-model="article.firstImg"
                    required />
            <input type="hidden" class="form-control" name="firstImgContentType" id="field_firstImgContentType"
                    ng-model="article.firstImgContentType" />
            <div ng-show="editForm.firstImg.$invalid">
                <p class="help-block"
                    ng-show="editForm.firstImg.$error.required" translate="entity.validation.required">
                    This field is required.
                </p>
            </div>
        </div>
        <!-- <div class="form-group">
            <label class="control-label" translate="finderApp.article.content" for="field_content">Content</label>
            <input type="text" class="form-control" name="content" id="field_content"
                    ng-model="article.content"
                     />
        </div> -->
        <div class="form-group">
            <!-- <label class="control-label" translate="finderApp.article.content" for="field_content">Content</label>
            <input type="text" class="form-control" name="content" id="field_content"
                    ng-model="article.content"
                     /> -->
                <!-- umeditor百度文本编辑器 -->
                <script type="text/plain" id="myEditor" style="width:800px;height:240px;">
    				<p>这里写文章的内容</p>
				</script>
			    <script type="text/javascript">
			        var um = UM.getEditor('myEditor',{
			            //这里可以选择自己需要的工具按钮名称,此处仅选择如下七个
			            toolbar:[
				            'source | undo redo | emotion image | bold italic underline strikethrough | forecolor backcolor | removeformat |',
				            'justifyleft justifycenter justifyright justifyjustify |',
				            'insertorderedlist insertunorderedlist | selectall cleardoc paragraph | fontfamily fontsize' ,
				            '| horizontal preview', '| drafts'
				        ],
			            //focus时自动清空初始化时的内容
			            autoClearinitialContent:true,
			            //关闭字数统计
			            wordCount:true,
			            //关闭elementPath
			            elementPathEnabled:false,
			            //默认的编辑区域高度
			            initialFrameHeight:300
			            //更多其他参数，请参考umeditor.config.js中的配置项
			        });
			    </script>
        </div>
        
        <div class="form-group">
            <label translate="finderApp.article.articleCategory" for="field_articleCategory">articleCategory</label>
            <select class="form-control" id="field_articleCategory" name="articleCategory" ng-model="article.articleCategory" ng-options="articleCategory as articleCategory.name for articleCategory in articlecategorys track by articleCategory.id">
                <option value=""></option>
            </select>
        </div>
        <!-- <div class="form-group">
            <label translate="finderApp.article.user" for="field_user">user</label>
            <select class="form-control" id="field_user" name="user" ng-model="article.user" ng-options="user as user.nickName for user in users track by user.id">
                <option value=""></option>
            </select>
        </div> -->
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
