body {
    background: #fafafa;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #333;
}

/* ==========================================================================
Hide ng-cloak on page load, https://docs.angularjs.org/api/ng/directive/ngCloak
========================================================================== */
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
    display: none !important;
}

/* ==========================================================================
Developement Ribbon
========================================================================== */
.development {
    position: absolute;
    width: 149px;
    height: 149px;
    top: 0;
    left: 0;
    border: 0;
    z-index: 1000;
    background-image: url("../images/development_ribbon.png");
    background-position: center center;
    background-repeat: no-repeat;
}

/* ==========================================================================
Version number in navbar
========================================================================== */
.navbar-version {
    font-size: 10px;
    color: #ccc
}

/* ==========================================================================
Browser Upgrade Prompt
========================================================================== */
.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

.hero-unit {
    margin: 50px auto 0 auto;
    width: 300px;
    font-size: 18px;
    font-weight: 200;
    line-height: 30px;
    background-color: #eee;
    border-radius: 6px;
    padding: 60px;
}

.hero-unit h1 {
    font-size: 60px;
    line-height: 1;
    letter-spacing: -1px;
}

.error {
    color: white;
    background-color: red;
}

.hipster {
    display: inline-block;
    width: 347px;
    height: 497px;
    background: url("../images/hipster.png") no-repeat center top;
    background-size: contain;
}

.pad {
    padding: 10px;
}
/* wait autoprefixer update to allow simple generation of high pixel density media query */
@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (   min--moz-device-pixel-ratio: 2),
only screen and (     -o-min-device-pixel-ratio: 2/1),
only screen and (        min-device-pixel-ratio: 2),
only screen and (                min-resolution: 192dpi),
only screen and (                min-resolution: 2dppx) {
    .hipster {
        background: url("../images/hipster2x.png") no-repeat center top;
        background-size: contain;
    }
}

.hand {
    cursor: pointer;
}

#threadDump .popover, #healthCheck .popover {
    top: inherit;
    display: block;
    font-size: 10px;
    max-width: 1024px;
}

#healthCheck .popover {
    margin-left: -50px;
}

.health-details {
    min-width: 400px;
}

/* ==========================================================================
Custom alerts for notification
========================================================================== */

.alerts .alert{
    text-overflow: ellipsis;
}
.alert pre{
    background: none;
    border: none;
    font: inherit;
    color: inherit;
    padding: 0;
    margin: 0;
}

.alert .popover pre {
    font-size: 10px;
}

.alerts .toast {
    position: fixed;
    width: 100%;
}

.alerts .toast.left {
    left: 5px;
}

.alerts .toast.right {
    right: 5px;
}

.alerts .toast.top {
    top: 55px;
}

.alerts .toast.bottom {
    bottom: 55px;
}

@media screen and (min-width: 480px) {
    .alerts .toast {
        width: 50%;
    }
}

/* end of Custom alerts for notification */

.voffset  { margin-top: 2px; }
.voffset1 { margin-top: 5px; }
.voffset2 { margin-top: 10px; }
.voffset3 { margin-top: 15px; }
.voffset4 { margin-top: 30px; }
.voffset5 { margin-top: 40px; }
.voffset6 { margin-top: 60px; }
.voffset7 { margin-top: 80px; }
.voffset8 { margin-top: 100px; }
.voffset9 { margin-top: 150px; }

/* start Password strength bar style */
ul#strengthBar {
    display:inline;
    list-style:none;
    margin:0;
    margin-left:15px;
    padding:0;
    vertical-align:2px;
}

.point:last {
    margin:0 !important;
}
.point {
    background:#DDD;
    border-radius:2px;
    display:inline-block;
    height:5px;
    margin-right:1px;
    width:20px;
}
/* end Password strength bar style */

.readonly {
    background-color: #eee;
    opacity: 1;
}

/* 设置bootstrap网格 */

.col-padding-over-bs {
	padding-left: 5px;
	padding-right: 5px;
}

.col-padding-left-over-bs {
	padding-left: 10px;
}

/* ==========================================================================
用户头像显示大小
========================================================================== */

.profile-img-small {
	width:40px;
	height: 40px;
}
.profile-img-middle {
	width:100px;
	height: 100px;
}

.pad-left1 {
	padding-left: 20px;
}
.pad-left2 {
	padding-left: 50px;
}
.pad-left3 {
	padding-left: 90px;
}
/* 提示性文字颜色 */
.error-font-color {
	color: #a94442
}
/* ==========================================================================
文章详细页
========================================================================== */
/*文章标题 */
.t-h1 {
    color: #333;
    font-size: 28px;
    line-height: 1.5;
    margin: 0;
    position: inherit;
    word-break: normal;
    word-wrap: break-word;
}

.article-author {
    color: #bbb;
    font-size: 16px;
    margin: 20px 0 27px;
}

.author-name, .box-author-info .author-article-pl a:hover {
    color: #333;
}

.article-time {
    margin: 0 15px 0 10px;
}

.article-share {
    margin: 0 15px 0 0;
}

.article-content-wrap {
    line-height: 30px;
    margin-top: 25px;
    font-size: 16px;
}

.box-author-name {
    font-size: 16px;
    margin: 15px 0;
}
.box-author-one{
    color: #bbb;
    font-size: 14px;
    margin: 12px 0;
}

.i-icon, .icon {
    background-repeat: no-repeat;
    display: inline-block;
    height: 20px;
    vertical-align: text-bottom;
    width: 20px;
}

.icon-line {
    background-position: -145px -1px;
}

/*右边栏 热门文章 */

.box-moder blockquote {
    border-left: 6px solid #3da9f7;
    padding-left: 8px;
    margin: 0 0 10px;
    line-height: 0.3em;
}

.box-moder blockquote b {
    display: inline-block;
    font-size: 18px;
    font-weight: 400;
    margin: 0;
}

.thumbnail div {
    overflow: hidden;
    padding: 10px 10px 0px;
}

.thumbnail div a {
    font-size: 16px;
}

.thumbnail div a:hover {
    color: #3da9f7;
}

a {
    cursor: pointer;
    color: #333;
}

a:hover, a:link {
    text-decoration: none;
}
/*回到顶部 */
.go-top {
    background: #f3f3f3 none repeat scroll 0 0;
    bottom: 140px;
    cursor: pointer;
    display: none;
    height: 60px;
    left: 1295px;
    position: fixed;
    width: 60px;
}

.go-top:hover {
    background-color: #e8e8e8;
}

.go-icon {
    background-repeat: no-repeat;
    display: inline-block;
    height: 20px;
    width: 20px;
    margin: 23px;
}
/*意见反馈 */
.go-feedback {
    background-color: #f63756;
    bottom: 210px;
    color: #fff;
    display: block;
    font-size: 16px;
    padding: 8px;
    text-align: center;
    z-index: 10;
}
/*回到顶部 */
.c2{
    color: #bbb;
    font-size: 14px;
}
/*文章底部的标签 */
.tag-box {
    display: inline-block;
    margin-top: 10px;
    padding-top: 10px;
    width: 100%;
    border-top: 1px solid #f0f0f0;
}

.tag-box a span {
    background-color: #f0f0f0;
    color: #bbb;
    float: left;
    height: 35px;
    line-height: 35px;
    margin-bottom: 10px;
    margin-right: 10px;
    padding: 0 15px;
}

.tag-box a span:hover {
    background-color: #ececec;
    color: #999;
}
/*文章底部的发表评论  */
.pl-wrap {
    margin-top: 50px;
}

.span-mark-author.active {
    border-bottom: 4px solid #3da9f7;
    color: #333;
    font-size: 18px;
}

.pl-form-wrap {
    border-top: 1px solid #f0f0f0;
}

.no-login-box {
    background-color: #fafafa;
    border: 1px solid #f0f0f0;
    color: #bbb;
    height: 220px;
    line-height: 220px;
    margin-top: 40px;
    font-size: 18px;
}

.btn-article{
    margin-top: 20px;
    width: 130px;
}

.login-box-editor {
	margin-top: 40px;
}

.author-info {
    display: inline-block;
    margin: 0 0 15px;
}

.author-info .author-face {
    float: left;
    height: 50px;
    overflow: hidden;
    width: 50px;
    margin-top: 13px;
}

.author-info .author-name, .author-info .time {
    margin-left: 20px;
    position: relative;
    top: 17px;
    font-size: 14px;
}

.pl-box-wrap {
    border-top: 1px solid #f0f0f0;
    padding: 10px 0;
}

.pl-box-wrap .pl-content {
    line-height: 24px;
    word-break: break-all;
    word-wrap: break-word;
    font-size: 14px;
}

.author-info a:hover {
    color: #3da9f7;
}

.author-info .time {
    color: #bbb;
}

.load-more {
    font-size: 12px;
    margin-bottom: 0;
    padding: 10px 0;
    text-align: center;
}

.load-more a:hover {
    color: #3da9f7;
}

.avatar:hover img {
    border: 2px solid white;
    border-color: #e78170;
}

.comment_insert_pic {
	font-size: 12px;
}

a.comment_emotion {
    background: rgba(0, 0, 0, 0) url("../images/emotion.gif") no-repeat scroll left center;
    border: 1px solid #fff;
    color: #666;
    padding: 1px 2px 1px 18px;
    text-decoration: none;
}

.article-end-collect {
    background: rgba(0, 0, 0, 0) url("../images/article_share.png") no-repeat scroll -112px 0 / 194px 84px;
    display: block;
    height: 28px;
    width: 82px;
}

.article-end-collect:hover {
    background-position: -112px -28px;
}

.article-end-collect-fin {
    background: rgba(0, 0, 0, 0) url("../images/article_share.png") no-repeat scroll -112px 0 / 194px 84px;
    display: block;
    height: 28px;
    width: 82px;
    background-position: -112px -56px;
}
