<div>
	<div class="row">
		<!-- 定义panel面板 -->
		<div class="col-md-12 panel panel-default">
			<!-- <ul class="list-group">
				<li class="list-group-item">
					<div class="profile-image">
						center-block 让内容块居中
						<img
							data-ng-src="{{'data:' + account.pictureContentType + ';base64,' + account.picture}}"
							class="img-circle profile-img-middle center-block" alt="profile"
							ng-if="account.picture" />
					</div> text-center 让文字居中
					<p class="list-group-item-text text-center box-author-name">{{account.nickName}}</p>
					个性签名 过滤器  characters:3 显示3个字符
					<p class="list-group-item-text text-center box-author-one">{{account.signature
						| characters:28 }}</p>

				</li>
			</ul> -->

			<div class="mod-user-info">
				<div class="profile-image">
					<img
	                    data-ng-src="{{'data:' + author.user.pictureContentType + ';base64,' + author.user.picture}}"
	                    class="img-circle profile-img-middle center-block" alt="{{author.user.nickName}}" ng-if="author.user.picture"/>

				</div>
				<h1 class="name">{{author.user.nickName}}</h1>
				<p class="bio">{{author.user.signature}}</p>
				
				<div class="options">
					<button  class="btn btn-default" type="button">
					<i class="fa fa-user-plus"></i>
						关注
					</button>
				</div>
			</div>
			<div class="user-nav">
				<div class="parts">
					<a class="part current" href="#">发表文章（{{author.articleNum}}）</a>
					<span class="line"></span>
					<a class="part " href="#">评论（{{author.commentNum}}）</a>
					<span class="line"></span>
					<a class="part " href="#">收获喜欢（{{author.favoriteNum}}）</a>
				</div>
			</div>
		</div>
	</div>
</div>
